.ovo-regular{
  font-family: "Ovo", serif;
  /* font-weight: 400;
  font-style: normal; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
