@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
  background: #000;
  color :#fff
}
.light{
    background: #fff;
    color : #000;
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
}
.animate-wave {
  animation: wave 1s infinite;
}